@import '../../index';

.meal {
  &__info {
    width: 80%;
    margin: 5rem auto;
  }

  &__video {
    display: inline-block;
    margin-bottom: $margin__bottom;
    width: 40rem;
    height: 30rem;
  }

  &__categories {
    width: 100%;
    height: 10rem;
    border: 2px dotted gold;
    margin-bottom: 3rem;
  }

  &__instruction {
    width: 100%;
    margin-bottom: 3rem;
    height: 30rem;
  }

  &__ingredient {
    height: 2rem;
    margin-bottom: $margin__bottom;
  }

  &__ingredients {
    span {
      display: inline-block;
      border-radius: 3px;
      margin: 0 5px 5px 0;
      width: 10rem;
      height: 3rem;
    }
  }
}

/* Loader */
.loading {
  position: relative;
  background-color: rgb(167, 167, 167);
  overflow: hidden;

  &::after {
    display: block;
    content: '';
    z-index: 50;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(transparent),
      color-stop(rgba(255, 255, 255, 0.2)),
      to(transparent)
    );
    background: linear-gradient(
      90deg,
      transparent,
      rgb(218, 218, 218),
      transparent
    );
    -webkit-animation: loading 0.8s infinite;
    animation: loading 0.8s infinite;
  }
}

@keyframes loading {
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
