* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Variables
$heading__fontsize: 4rem;
$font__size: 1.6rem;
$margin__bottom: 3rem;

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  // background-color: #2d2013;
  background-color: #c36d17;
  color: #fff;
}
